body {
    background: #e9ebee;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#logo {
    margin-top: 0.45cm;
    height: 106px;
    margin-left: -28px;
}

#bio {
    margin-top: -0.4cm;
    font-size: 24px;
    line-height: 28px;
}

#form {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    height: 350px;
    margin: auto;
}

input {
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    box-shadow: none;
    border: 1px solid #dddfe2;
    outline-color: #e9ebee;
}

input:focus {
    outline-color: #1877f2;
}

.login {
    cursor: pointer;
    color: white;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 360px;
}

.forgot {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.line {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.create {
    text-decoration: none;
    background-color: #42b72a;
    border-color: #42b72a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    height: 100px;
    padding: 10px 10px;
}

.page {
    color: black;
    font-size: 15px;
}

.link {
    text-decoration: none;
    color: black;
}